.region-container-logo {
  position: relative;
  z-index: 900;
  .container {
    padding: 0;
    @media(min-width: @screen-desktop) {
      padding: 0 15px;
      &:before {
        background: url(../images/bg_logo_repeat.png) repeat left top;
        position: relative;
        bottom: 0;
        right: 1140px;
        height: 77px;
        width: 100%;
        margin-bottom: -78px;
      }
    }
  }
}
.highlighted {
  margin-top: -78px;
  position: relative;
  padding: 0 !important;
  .box-shadow();
  @media(min-width: @screen-desktop) {
    margin-bottom: -55px;
    min-height: 555px;
  }
}

.carousel .item {
  max-height: 250px;
  width: 100%;
  @media(min-width: @screen-desktop) {
    max-height: 555px;
  }
}
.carousel .item img {
  overflow: hidden;
  height: auto;
  width: 100%;
}

.main-container {
  padding: 0;
  > .container {
    .col-sm-9 {
      margin-top: 30px;
    }
    .col-sm-3 {
      margin-top: 30px;
    }
    .col-sm-12 {
      margin-top: 30px;
    }
  }
}

.front {
  .main-container {
    > .container {
      .col-sm-9 {
        border-right: 1px solid @gray-lighter;
      }
    }
  }
}

.jumbotron {
  border-radius: 0 !important;
  margin-bottom: 0;
}

#node-1, #node-16, #node-20, .view-analytics, .view-news, .node-news, #block-block-5, #block-block-6 {
  p {
    text-indent: 30px;
  }
}


#node-8 {
  .form-item, .webform-submit {
    margin-top: 10px;
  }
}

.container-fluid {
  padding: 0;
}

#block-views-news-block {
  .views-row {
    padding-bottom: 15px;
    .views-field-field-news-date {
      .glyphicon {
        margin-right: 5px;
      }
    }
  }
}

#block-views-activity-block {
  margin-top: 50px;
  text-align: center;
}

.scrollToTop {
  background: @navbar-inverse-bg;
  border: 2px solid rgba(255,255,255,0.35);
  border-radius: 50%;
  bottom: 20px;
  color: white !important;
  display: none;
  height: 50px;
  padding-top: 14px;
  position: fixed;
  right: 30px;
  text-align: center;
  width: 50px;
  z-index: 999;
  &:hover {
    background: rgba(7, 16, 24, 0.85);
  }
}

#block-block-3 {
  background: url(../images/navheader.png) no-repeat right;
  background-size: cover;
  display: table;
  height: 79px;
  width: 365px;
  a {
    text-decoration: none !important;
  }
  h1 {
    background: url(../logo.png) no-repeat left center;
    margin: 0;
    padding: 15px 0 20px 65px;
    a {
      color: @navbar-inverse-bg;
    }
  }
}

#block-views-social-projects-block {
  color: white;
  padding: 30px 0;
  .block-title {
    color: white;
    margin-bottom: 30px;
  }
  .views-field {
    margin: 20px 20px 0 0;
  }
  .views-field-field-social-projects-image {
    float: left;
    img {
      margin-right: 10px;
    }
  }
  .views-field-body {
    display: inline;
  }
}

.view-partners {
  text-align: center;
  .col-lg-4 {
    padding: 15px 0;
    border-bottom: 1px solid @gray-lighter;
  }
  .views-field-field-partner-photo {
    margin: 20px 0;
    img {
      border-radius: 50%;
      border: 10px solid white;
      .box-shadow();
    }
  }
  .views-field-body {
    margin-bottom: 20px;
  }
  .views-field-field-production-photo {
    img {
      border-radius: 5px;
      margin-bottom: 5px;
    }
  }
}

.view-management {
  .col-lg-12 {
    padding: 15px 0;
    border-bottom: 1px solid @gray-lighter;
  }
  .views-field-field-management-photo {
    float: left;
    margin: 15px;
    img {
      border-radius: 50%;
      border: 10px solid white;
      .box-shadow();
    }
  }
}

.node-news {
  .field-name-field-news-date {
    margin-top: 10px;
  }
}

blockquote p {
  font-size: @font-size-base;
}